CREATE ROLE {{.User}} WITH NOSUPERUSER NOCREATEDB NOCREATEROLE INHERIT NOLOGIN NOREPLICATION;
REVOKE ALL ON DATABASE {{.Database}} FROM PUBLIC;
GRANT CONNECT ON DATABASE {{.Database}} TO {{.User}};
ALTER ROLE {{.User}} LOGIN;
ALTER ROLE {{.User}} ENCRYPTED PASSWORD '{{.Password}}';
ALTER ROLE {{.User}} CONNECTION LIMIT 750;
