CREATE ROLE sacha WITH NOSUPERUSER NOCREATEDB NOCREATEROLE INHERIT NOLOGIN NOREPLICATION;
REVOKE ALL ON DATABASE {{.Database}} FROM PUBLIC;
GRANT CONNECT ON DATABASE {{.Database}} TO sacha;
ALTER ROLE sacha LOGIN;
ALTER ROLE sacha ENCRYPTED PASSWORD 'pikachu';
ALTER ROLE sacha CONNECTION LIMIT 750;
